 @use 'src/styles/main' as *;


.toolbox-container {
    @include edge-gradient($light-background-color, 2em);
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
    flex: none;

    &::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }

    .toolbox-item {
        display: inline-flex;
        align-items: center;
        align-items: center;
        gap: 16px;
        padding: 6px 12px; 
        margin: 12px;

        /* should be shared with the card outline */
        outline: 2px solid $gray-border;
        border-radius: 10px;

        i { 
            @include gradient-text; 
            font-size: 2.5rem;
        }
        span {
            color: white;
            font-weight: semibold;
        }

    }
}