/**
 * Project
 * =================================
 */

 @use 'src/styles/main' as *;



/**
 *
 */
.project {
    @include card;
    @include flex-column;
    gap: 2rem;
    padding-bottom: 0 !important;

    @include for-size(tablet-portrait-up) {
        padding: 3rem;
    }

    @include for-size(tablet-landscape-up) {
        flex-direction: row;
        gap: 4rem;
        padding: 4rem;
        padding-right: 0 !important;

        > * {
            flex-shrink: 1;
            max-width: 50%;
        }

        section {
            margin-bottom: 4rem;
        }
    }

    /**
    *
    */
    section {
        @include flex-column;

        hr {
            border-top: 2px solid $gray-border;
            margin: 0.5rem 0rem;
        }
        p {
            margin-bottom: 1.5rem;
        }
        footer {
            @include button-wrapper;
        }
    }

    /**
    *
    */
    img {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        @include for-size(tablet-landscape-up) {
            border-top-right-radius: 0;
        }
    }
}