 @use 'src/styles/main' as *;


.hobby-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 6px;

    .hobby {
        @include gradient-background;
        position: absolute;
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        padding: 3px 24px;
        font-weight: 600;
        border-radius: 9999px;

        .emoji {
            font-size: 1.25rem;
        }
    }
}
