@import '../../../styles/base/variables';


.button-base {
    z-index: 1000;
    padding: $spacer-xs 24px;

    font-size: 16px;
    letter-spacing: 0.6px;
    font-weight: 500;

    border: 2px solid $gray-border;
    border-radius: $spacer-xs;

    font-size: $font-size-xs;
}

button {
    @extend .button-base;
    color: black;
    background-color: white;

}

.outline-button {
    @extend .button-base;
    color: white;
    background-color: $background-color;
}

.dark-button {
    color: white;
    background-color: $dark-text;
    border: none;
}